
NEXT_PUBLIC_TEMPLATE_CLIENT_ID="2064636409f9c54fa54c53ac1694fcbb"

# [Xata] Configuration used by the CLI and the SDK
# Make sure your framework/tooling loads this file on startup to have it available for the SDK
XATA_BRANCH=main
XATA_API_KEY=xau_Uarad5mBzwuOd9r72voZNK9BWwi0ZhWJ1